<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WAGA PRAWIDŁOWA</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <div>
        <section id="bmistyle2">
            <div><font color="black" size="7">
                <center><b>WAGA PRAWIDŁOWA</b></center>
            </font></div>
        </section>
    </div>
    <style>
        #bmistyle2 {
            font-family: "Arial Rounded MT Bold";
            background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
        }

        #bmistyle {

            font-family: "Arial Rounded MT Bold";
            font-size: large;
            padding-top: 50px;
            width: 100%;
            height: 1200px;
            background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));

        }


    </style>
</head>
<body>
<br>
<section id="bmistyle">
    <div class="container">

        <table class="table" border="7" cellpadding="7">
            <thead>
            <tr>
                <td><font size="4"><b>
                    <center>Jak utrzymać dobrą figure?</center>
                </b></font></td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>

                        1. Regularnie się waż. Nie wpadając jednakże w panikę za każdym razem, gdy wskazówka wychyli się
                        w górę. Niewielkie, przejściowe różnice wagi ciała nie powinny budzić niepokoju. Ale już przy
                        drugim kilogramie powyżej normy należy natychmiast zareagować, gdyż następne kilogramy przybiera
                        się bardzo szybko.
                        <br>
                        2. Solidne śniadanie. Zamiast tradycyjnych kanapek z masłem przygotuj coś nietuczącego, lecz
                        konkretnego (jajka, sery, ryby, kawałek chudego mięsa). Natomiast obiad powinien być mniej
                        obfity, niż to jest przyjęte.
                        <br>
                        3. W żadnym wypadku nie przeskakuj posiłku. Najlepiej jest przestrzegać zasady trzech posiłków
                        dziennie. Jednak jeśli dokucza nam głód, to około jedenastej możemy coś przegryźć. Można też
                        podzielić swoją dzienną rację pożywienia na 5 do 6 posiłków.

                        Często popełnianym błędem jest jedzenie lekkiego śniadania i takiegoż obiadu, a potem objadanie
                        się przy kolacji. W rezultacie przybiera się na wadze. Jeśli dzienna racja podzielona jest na
                        małe porcje, wówczas proteiny zostają lepiej wykorzystane. Kura, która jada raz dziennie, o
                        wiele więcej przybiera na wadze niż ta, która zjada tę samą ilość pożywienia podzielonego na
                        porcje podawane kilkakrotnie w ciągu dnia. Podobnie jest z nami.
                        <br>
                        4. Nie przegryzaj między posiłkami. Wszelkie słodycze, nawet pozornie w nieznacznych ilościach,
                        są zabronione. Jeśli nie możesz się obyć bez przegryzania czegoś, zjedz raczej jabłko,
                        marchewkę, pomidor.
                        <br>
                        5. Nie gotuj tłusto. Dobrze by było zaopatrzyć się w utensylia potrzebne do pieczenia, smażenia
                        bez tłuszczu, jak patelnia teflonowa, grill, szybkowar, garnek żeliwny, folia aluminiowa. I
                        urozmaicać sposoby przyrządzania potraw: raz pieczone w piecyku, to znów w szybkowarze, innym
                        razem duszone czy gotowane na parze. Nie wszyscy wiedzą, że do pieczenia w piecyku nie potrzebny
                        jest tłuszcz, to samo dotyczy pieczenia na patelni teflonowej (nastawiamy na mały ogień).

                        Ze szczególną troską należy przygotowywać jarzyny, gdyż gotowane na wodzie są mdłe. Najlepiej
                        jarzyny dusić, doprawiając cebulką, rosołem z kostki, przecierem i przyprawami. Jedząc chleb z
                        żółtym serem (a wszystkie one są pełnotłuste), zrezygnuj ze smarowania masłem. Nie wspominając
                        już o wędlinach, które zresztą są niewskazane przy diecie odchudzającej.
                        <br>
                        6. Zachowaj rozsądek. Nie popełniaj starych błędów. Produkty nie tuczące jedz w dowolnych
                        ilościach, pozostałe - z umiarem. Jedząc ciastko - czasem bez zastanowienia - pomyśl, że pójdzie
                        ci w biodra. Natomiast niewielkie, miłe "wyskoki" są zawsze możliwe, pod warunkiem, że sprawiają
                        nam radość. Kawałek ciasta, kieliszek szampana, wypity przy jakiejś uroczystości, to nie
                        przestępstwo.
                        <br>
                        7. Dużo pij. Pij podczas posiłków, w ciągu dnia, wieczorem przed spaniem (woda mineralna,
                        herbata, herbatki ziołowe, soki warzywne, owocowe). Pijąc uaktywniasz swoje nerki. A z moczem
                        wydalasz toksyny.
                        <br>
                        8. Umiar w spożyciu chleba. Jeżeli na przykład jednego dnia jadłeś ciastka, zrezygnuj z chleba
                        do posiłku. Potrawy mączne, ziemniaki, groch, fasolę, jedz najwyżej raz dziennie, potrawy
                        smażone i sosy - tylko raz w tygodniu.
                        <br>
                        9. Umiar w spożywaniu soli. Sól zaostrza apetyt. Jednakże nie popadaj w drugą skrajność. W
                        żadnym wypadku nie należy rezygnować zupełnie z soli, chyba że takie jest zalecenie lekarza.
                        <br>
                        10. Dobra zasada przy stole. Nigdy nie dokładaj sobie drugi raz na talerz. Używaj tylko małych
                        talerzy. Jedząc z dużego - jesteśmy skłonni napełnić go po brzegi.
                </b></td>
            </tr>

            </tbody>
        </table>
        <div class="row">
            <a href="/CalculatorBmi"><font size="3"> STRONA GŁÓWNA</font></a>
        </div>

    </div>
</body>
</html>