<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NADWAGA</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <div>
        <section id="bmistyle2">
            <div><font color="black" size="7">
                <center><b>NADWAGA </b></center>
            </font></div>
        </section>
    </div>
    <style>
        #bmistyle2 {
            font-family: "Arial Rounded MT Bold";
            background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
        }

        #bmistyle {

            font-family: "Arial Rounded MT Bold";
            font-size: large;
            padding-top: 50px;
            width: 100%;
            height: 1200px;
            background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));

        }


    </style>
</head>
<body>
<br>
<section id="bmistyle">
    <div class="container">

        <table class="table" border="7" cellpadding="7">
            <thead>
            <tr>
                <td><font size="4"><b>
                    <center>Nadwaga na świecie i w Polce</center>
                </b></font></td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>
                    1,9 miliarda ludzi (spośród 7 miliardów) na świecie ma nadwagę. To 39% procent dorosłych.
                    Gdzie jest ich najwięcej?
                    Wcale nie w Stanach Zjednoczonych, które są dopiero 22. w rankingu z ponad 67% dorosłych z
                    nadwagą.
                    Pierwsze są Palau, Katar i Nauru, mając prawie 80% obywateli z BMI powyżej 25.
                    30,1% dorosłych kobiet i 44,1% dorosłych mężczyzn w Polsce ma nadwagę. Może się wydawać, że
                    wypadamy o wiele lepiej na tle świata,
                    w szczególności w porównaniu do Stanów Zjednoczonych. Niestety, gdy do Polaków z nadwagą dodamy
                    te otyłe
                    (ponieważ one też zaliczają się do osób z nadwagą w ogólnoświatowych rankingach), liczby są
                    jeszcze wyższe: 45,7% dla Polek i 62,2% dla Polaków.
                    Poza tym z roku na rok liczba osób z nadwagą i otyłością w Polsce się powiększa.

            <tr>
            <tr>
                <td><font size="4"><b>
                    <center>Jakie są skutki nadwagi?</center>
                </b></font></td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>
                    Podwyższone BMI jest głównym czynnikiem ryzyka w niezakaźnych chorobach, takich jak:

                    -choroby układu krążenia (głównie choroba serca i udar mózgu), które były główną przyczyną
                    śmierci w 2012 roku,
                    -cukrzyca,
                    -choroby układu kostnego (w szczególności choroba zwyrodnieniowa stawów),
                    -niektóre rodzaje nowotworów (wliczając w to nowotwór endometrium, piersi, jajników, prostaty,
                    wątroby, woreczka żółciowego, nerek i okrężnicy).
                    Ryzyko występowania tych chorób wzrasta wraz ze wzrostem BMI.

            <tr>
            <tr>
                <td><font size="4"><b>
                    <center>Jak pozbyć się nadwagi?</center>
                </b></font></td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>
                    Przede wszystkim zdaj sobie sprawę z tego, jak dużo od Ciebie zależy.
                    To głównie Ty jesteś odpowiedzialny za swoją wagę, stanowisz też wzór dla swoich dzieci i ludzi
                    z Twojego otoczenia.
                    Oto co, World Health Organization radzi aby zrobić:
                    -jedz więcej owoców, warzyw, strączków, przetworów z pełnego ziarna i orzechów,
                    -ogranicz pożywienie bogate w cukry, sól i tłuszcze trans, nie jedz „śmieciowego jedzenia”, im
                    jest mniej przetworzone (ugotowane od podstaw), tym lepiej,
                    -ogranicz pobór kalorii z tłuszczów trans na tłuszcze nienasycone (ryby, orzechy),
                    -pij wodę zamiast słodzonych napojów,
                    -regularnie uprawiaj sport średniej intensywności, przez co najmniej 30 minut dziennie, (5 dni w
                    tygodniu),
                    -ogranicz czas spędzony przed telewizorem (również dzieciom).

                    Zdaj sobie sprawę z tego, że większość półproduktów i produktów, które kupujesz w sklepach, ma
                    bardzo dużą ilość dodatkowego cukru, soli i tłuszczów trans. Gotowe wędliny, pasztety, sosy,
                    pieczywo, pełne są składników, które Ci szkodzą. Czytanie etykiet, a przede wszystkim przejście
                    na gotowanie od podstaw, gdzie sama obierasz i kroisz warzywa oraz mięso,
                    może zadziałać lepiej niż niejedna dieta.
            </tr>

            </tbody>
        </table>
        <div class="row">
            <a href="/CalculatorBmi"><font size="3"> STRONA GŁÓWNA</font></a>
        </div>

    </div>
</body>
</html>