<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NIEDOWAGA</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <div>
        <section id="bmistyle2">
            <div><font color="black" size="7">
                <center><b>NIEDOWAGA </b></center>
            </font></div>
        </section>
    </div>
    <style>
        #bmistyle2 {
            font-family: "Arial Rounded MT Bold";
            background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
        }

        #bmistyle {

            font-family: "Arial Rounded MT Bold";
            font-size: large;
            padding-top: 50px;
            width: 100%;
            height: 1200px;
            background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));

        }


    </style>
</head>
<body>
<br>
<section id="bmistyle">
    <div class="container">

        <table class="table" border="7" cellpadding="7">
            <thead>
            <tr>
                <td><font size="4"><b>
                    <center>Jakie są przyczyny niedowagi?</center>
                </b></font></td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>
                    Istnieje wiele powodów, dla których możesz mieć niedowagę. Czasami jest ich wiele na raz.
                    Należą do nich:

                    historia rodzinna – niektórzy ludzie mają naturalnie niskie BMI, co jest rodzinne,
                    wysoki metabolizm – jeśli masz szybki metabolizm, możesz nie przybierać na wadze, nawet jeśli
                    spożywasz wysokokaloryczne posiłki,
                    duża ilość ruchu – atleci i osoby uprawiające dużo sportu, tacy jak biegacze, mogą spalać bardzo
                    dużo kalorii, co skutkuje niską masą ciała,
                    przewlekła choroba (lub choroby) – niektóre zaburzenia powodują regularne mdłości, wymioty,
                    biegunkę, co utrudnia przybranie na wadze. Inne choroby zmniejszają apetyt, np. nowotwory,
                    cukrzyca, choroby tarczycy, choroba Crohna i wrzodziejące zapalenie jelita grubego,
                    choroba psychiczna – zaburzenia, takie jak depresja, lęk, zespół obsesyjno-kompulsywny (OCD) i
                    zaburzenia odżywiania, takie jak anoreksja i bulimia. Każda z tych chorób może negatywnie
                    wpływać na odbiór własnego ciała, stosunek do jedzenia, apetyt,
                    niektóre leki również negatywnie wpływają na apetyt i trawienie, powodują bóle brzucha i
                    mdłości, np. żelazo.
                    Wizyta u lekarza pomoże Ci odkryć przyczynę niskiego BMI. Otrzymasz również zalecenia, których
                    przestrzeganie sprawi, że zdrowo przybierzesz na wadze.

                </b></td>


            <tr>
            <tr>
                <td><font size="4">
                    <b>
                        <center>Czym grozi niedowaga?</center>
                    </b></font></td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>
                    Zbyt niska waga jest takim samym zagrożeniem jak zbyt wysoka masa ciała. Nie wszyscy jednak
                    odczuwają jej konsekwencje. Jednakże do potencjalnych zagrożeń należą:

                    osteoporoza – według badania z 2016 roku niedowaga zwiększa u kobiet ryzyko osteoporozy,
                    która powoduje osłabienie kości i zwiększoną łamliwość,
                    problemy ze skórą, włosami i zębami – jeśli nie dostarczasz swojemu ciału wystarczającej ilości
                    niezbędnych składników, możesz doświadczać złego stanu włosów, wypadania ich, suchej skóry i
                    szybko psujących się zębów,
                    słaba odporność – jeśli nie jesz wystarczającej ilości kalorii, aby mieć zdrową masę ciała,
                    możesz również nie spożywać odpowiedniej ilości składników odżywczych, co powoduje spadek
                    odporności. Przez to możesz częściej się przeziębiać i chorować dłużej niż inni,
                    przewlekłe zmęczenie – kalorie są nośnikiem energii dostarczanej przez jedzenie. Jeśli nie zjesz
                    odpowiedniej ilości kalorii, aby mieć odpowiednią masę ciała, możesz odczuwać zmęczenie przez
                    cały czas,
                    anemia – osoba, która waży zbyt mało, prawdopodobnie ma również za mało hemoglobiny, co może
                    powodować zawroty i bóle głowy oraz zmęczenie,
                    nieregularne miesiączki – kobiety z niedowagą mogą nie mieć regularnych miesiączek albo nie mieć
                    ich w ogóle. W przypadku dorastających kobiet pierwsza miesiączka może być opóźniona albo
                    nieobecna. Nieregularne lub nieobecne miesiączki mogą powodować bezpłodność.
                    przedwczesny poród – według badania opublikowanego w „An International Journal of Obstetrics &
                    Gynaecology” ciężarne z niedowagą mają zwiększone ryzyko porodu przed terminem (czyli przed 37
                    tygodniem ciąży),
                    spowolniony lub osłabiony wzrost – młodzi ludzie potrzebują składników odżywczych, aby móc
                    rosnąć i wykształcić zdrowe kości. Niedowaga i niedobór kalorii powoduje słabszy rozwój,
                    według badania opublikowanego w “BMC Public Health” niedowaga wiąże się ze zwiększonym
                    ryzykiem przedwczesnej śmierci w porównaniu do ludzi z BMI w normie. Według naukowców wynika to
                    z osłabionej zdolności do regeneracji po urazach i wypadkach, w porównaniu do osób z BMI między
                    19 a 25.


            <tr>
            <tr>
                <td><font size="4">
                    <b>
                        <center>Jak bezpiecznie przytyć?</center>
                    </b></font></td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>
                    Wbrew pozorom, przytyć jest równie trudno albo nawet i trudniej niż schudnąć. Dzieje się
                    tak, ponieważ zwykle niedowaga ma ukrytą przyczynę zdrowotną. Z kolei nadwaga i otyłość są
                    głównie (chociaż nie zawsze) wynikiem złych nawyków. Z tego względu najlepiej jest walczyć z
                    niedowagą u lekarza. Jeśli jednak nic Ci nie dolega, udaj się do dietetyka lub zastosuj się do
                    tych porad:

                    dodaj przekąski – wysokobiałkowe i z pełnego ziarna pomogą Ci przytyć. Batoniki proteinowe,
                    hummus, masło orzechowe czy garść migdałów to przykłady zdrowych przekąsek,
                    jedz wiele małych posiłków w ciągu dnia – czasami niedowaga wynika z braku tolerancji dla dużych
                    posiłków. Jeśli tak jest u Ciebie, zwiększ ich liczbę,
                    dodaj bomby kaloryczne do swojej diety – do każdego posiłku dorzuć coś ekstra, np. garść
                    orzechów do płatków śniadaniowych, ziarna słonecznika do zupy czy sałatki, czy masło orzechowe
                    na pełnoziarnisty tost,
                    unikaj śmieciowego jedzenia i pustych kalorii – zajadanie się chipsami i popijanie ich Coca-Colą
                    może być kuszące, gdy chcesz przybrać trochę kilogramów, jednak dostarczony z nimi cukier, sól i
                    tłuszcz są bardzo szkodliwe. Lepiej skup się na zdrowych tłuszczach nienasyconych oraz
                    pełnoziarnistych węglowodanach.

            </tr>

            </tbody>
        </table>
        <div class="row">
            <a href="/CalculatorBmi"><font size="3"> STRONA GŁÓWNA </font></a>
        </div>
    </div>
</body>
</html>